<html>
    <head>
        <title>ShopIT</title>
        <link href="css/layout.css" rel="stylesheet">
  		<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
    </head>
    <body ng-app="webShopApp">
        <ul ng-controller="LoginController as loginCtrl">
            <li ng-show="!loginCtrl.loggedUser()">
            	<a ng-href="/#!/main" href>Start Shopping</a>
            </li>
            <li ng-if="!loginCtrl.loggedUser() && !loginCtrl.seller() && !loginCtrl.manager()">
            	<a ng-href="/#!/shoppingCart" href>Shopping Cart</a>
            </li>
            <li ng-if="loginCtrl.manager()">
            	<a ng-href="/#!/registerSeller" href>Register seller</a>
            </li>
            <li ng-if="loginCtrl.seller()">
            	<a ng-href="/#!/invoices" href>Invoices</a>
            </li>
            <li ng-if="!loginCtrl.loggedUser()">
            	<a ng-href="/#!/profile" href>My profile</a>
            </li>
            <li style="float: right; margin-right: 20px;" ng-show="loginCtrl.loggedUser()">
				<a ng-href="/#!/login" href>Log in</a>
			</li>
			<li style="float: right; margin-right: 20px;" ng-show="!loginCtrl.loggedUser()">
				<a href="" ng-click="loginCtrl.logout()">Log Out</a>
			</li>
            <li style="float: right;" ng-show="loginCtrl.loggedUser()">
				<a ng-href="/#!/signup" href>Sign up</a>
			</li>
        </ul>
		
		<div class="logoDiv">
			<img style="text-align:center" src="img/shopit.png">
		</div>

	  	<div ng-view></div>
	  	
  		<script src="js/additions/jquery-3.2.1.min.js"></script>
	  	<script src="js/additions/angular.js"></script>
	  	<script src="js/additions/angular-route.js"></script>
		<script src="js/additions/lodash.js"></script>
	  	<script src="js/additions/restangular.js"></script>
		<script src="js/additions/angular-lodash-module.js"></script>
	  	<script src="js/additions/bootstrap.min.js"></script>
	  	<script src="js/additions/ngStorage.min.js"></script>
	  	
	  	<script src="js/app.js"></script>
	  	
	  	<script src="js/controllers/mainController.js"></script>
	  	<script src="js/controllers/itemController.js"></script>
	  	<script src="js/controllers/cartController.js"></script>
	  	<script src="js/controllers/userController.js"></script>
	  	<script src="js/controllers/loginController.js"></script>
	  	<script src="js/controllers/sellerController.js"></script>
	  	<script src="js/services/mainService.js"></script>
	  	<script src="js/services/itemService.js"></script>
	  	<script src="js/services/cartService.js"></script>
	  	<script src="js/services/userService.js"></script>
	  	<script src="js/services/sellerService.js"></script>
        
    </body>
</html>