<meta charset="UTF-8">

<div class="mainDiv">
	<div class="alert alert-danger" id="declined"
		 style="text-align: center; margin-left: 15px; margin-right: 15px">
	  	<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>There is not enough items in stock!</strong>
	</div>
	<div class="alert alert-success" id="approved"
		 style="text-align: center; margin-left: 15px; margin-right: 15px">
	  	<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Invoice successfully approved!</strong>
	</div>
	
	<div class="alert alert-success" id="cancelled"
		 style="text-align: center; margin-left: 15px; margin-right: 15px">
	  	<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>invoice successfully declined!</strong>
	</div>
	
	<h2 style="text-align: center">
		<b>Invoices</b>
	</h2>
	<br>
	
	<h3 ng-if="sellerCtrl.invoices[0] == null" style="text-align: center">
		Currently, there are no invoice requests.
	</h3>

	<div class="row" align="center" ng-repeat="invoice in sellerCtrl.invoices">
		<div class="itemDiv" style="margin-left: 20px; margin-right: 20px; padding: 15px">
			<div class="descriptionDiv" style="width: 100%">
				<p class="invoiceInfoDiv">
					<b style="color: orange;">
						Invoice {{invoice.id}}
					</b><br>
					<b>Status: </b> {{invoice.invoiceStatus}} 		<br>
					<b>Subtotal: </b> {{invoice.subtotal}}			<br>
					<b>Total: </b> {{invoice.total}}				<br>
					<b>Points earned: </b> {{invoice.pointsEarned}}	<br>
					<b>Points spent: </b> {{invoice.pointsSpent}}	<br>
					<br>
					<button type="submit" class="btn btn-success" ng-click="sellerCtrl.approve(invoice.id)">
						<b>Approve</b>
					</button>
					&nbsp;
					<button type="submit" class="btn btn-danger" ng-click="sellerCtrl.decline(invoice.id)">
						<b>Decline</b>
					</button>
				</p>
				<table class="table" style="display: inline-block; float: right; font-size: 14px; width:70%">
					<tr>
						<th>Number</th>
						<th>Name</th>
						<th>Code</th>
						<th>Category</th>
						<th>Price</th>
					</tr>
					<tr ng-repeat="element in invoice.invoiceItems">
						<td>{{element.invoiceItemNumber}}</td>
						<td>{{element.item.name}}</td>
						<td>{{element.item.code}}</td>
						<td>{{element.item.category.name}}</td>
						<td>{{element.item.price}} €</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<br>
</div>