<meta charset="UTF-8">
<div class="mainDiv">
	<h2 style="text-align: center"> <b>Items</b> </h2> <br>
	
	<!---------------------- SEARCH SECTION ---------------------->
	<div class="row" align="center">
		
		<!--Search field-->
		<div class="col-sm-4">
			<div class="input-group" style="float: left">
				<input type="text" class="form-control" placeholder="Search...">
				<span class="input-group-btn">
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</div>

		<!--Category panel-->
		<div class="col-sm-4">
			<div class="panel panel-default">
			
				<div class="panel-heading" data-toggle="collapse" href="#collapse1" style="cursor:pointer">
					<h4 class="panel-title">
						<a style="text-decoration : none">
							<b>Category</b>
							<span style="vertical-align: bottom" class="glyphicon glyphicon-chevron-down"></span>
						</a>
					</h4>
				</div>
				
				<div id="collapse1" class="panel-collapse collapse">
					<div class="panel-body" align="left">
						<form>
							<div class="checkbox" ng-repeat="category in mainCtrl.categories">
								<label>
									<input type="checkbox" value=""> {{category.name}}
								</label>
							</div>
						</form>
					</div>
				</div>
				
			</div>
		</div>

		<!--Price panel-->
		<div class="col-sm-4">
			<div class="panel panel-default">
			
				<div class="panel-heading" data-toggle="collapse" href="#collapse2" style="cursor:pointer">
					<h4 class="panel-title">
						<a style="text-decoration : none">
							<b>Price</b>
							<span style="vertical-align: bottom" class="glyphicon glyphicon-chevron-down"></span>
						</a>
					</h4>
				</div>
				
				<div id="collapse2" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="col-sm-6">
							From: <br>
							<input type="number" min="0" style="width: 80%">
						</div>
						<div class="col-sm-6">
							To: <br>
							<input type="number" min="0" style="width: 80%">
						</div>
						<br><br><br>
						<input type="submit" class="btn btn-default" value="Submit" style="width: 80%">
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<!---------------------- ITEM LIST SECTION ---------------------->
	<div ng-include="'views/items.html'"></div>
	
</div>