<div class="modal fade newOffer" tabindex="-1" role="dialog" aria-labelledby="updateLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Offer</h4>
			</div>
			<div class="modal-body">
				<div class="container">
					<form>
						<div class="form-group row">
							<div class="col-md-3">
								<label>Name:</label>
								<input type="text" class="form-control" ng-model="newOffer.name">
							</div>
							<div class="col-md-3">
								<label>Discount:</label>
								<input type="text" class="form-control" ng-model="newOffer.discount">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-3">
								<label for="city-form-zipcode">Date From:</label>
								<input type="date" class="form-control" ng-model="newOffer.dateFrom">
							</div>
							<div class="col-md-3">
								<label for="city-form-zipcode">Date To:</label>
								<input type="date" class="form-control" ng-model="newOffer.dateTo">
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal"
				ng-click="$parent.managerCtrl.addOffer(newOffer)">
					Save
				</button>
			</div>
		</div>
	</div>
</div>