<meta charset="UTF-8">

<!------------------------ PROFILE INFORMATION SECTION ------------------------>
<div class="infoDiv">
	<h3 style="text-align: center">User info</h3>
	<br>
	<table class="table table-striped">
		<tr>
			<td><b>Email:</b></td>
			<td>{{userCtrl.user.email}}</td>
		</tr>
		<tr>
			<td><b>Name:</b></td>
			<td>{{userCtrl.user.name}} {{userCtrl.user.surname}}</td>
		</tr>
		<tr>
			<td><b>Role:</b></td>
			<td>{{userCtrl.user.role}}</td>
		</tr>
		<tr>
			<td><b>Reg Date:</b></td>
			<td>{{userCtrl.regDate}}</td>
		</tr>
		<tr>
			<td><b>Address:</b></td>
			<td>{{userCtrl.user.usersProfile.address}}</td>
		</tr>
		<tr>
			<td><b>Points:</b></td>
			<td>{{userCtrl.user.usersProfile.points}}</td>
		</tr>
		<tr>
			<td><b>Category:</b></td>
			<td>{{userCtrl.user.usersProfile.buyerCategory.name}}</td>
		</tr>
	</table>
</div>

<!------------------------ SHOPPING HISTORY SECTION ------------------------>
<div class="shoppingsDiv">
	<h2 style="text-align: center">Shopping history</h2>
	<br>

	<div class="row" align="center" ng-repeat="invoice in userCtrl.invoices">
		<div class="itemDiv" style="margin-left: 20px; margin-right: 20px; padding: 15px">
			<div class="descriptionDiv" style="width: 100%">
				<p class="invoiceInfoDiv">
					<b style="color: orange;">
						Invoice {{invoice.id}}
					</b><br>
					<b>Status: </b> {{invoice.invoiceStatus}} 		<br>
					<b>Subtotal: </b> {{invoice.subtotal}}			<br>
					<b>Total: </b> {{invoice.total}}				<br>
					<b>Points earned: </b> {{invoice.pointsEarned}}	<br>
					<b>Points spent: </b> {{invoice.pointsSpent}}
				</p>
				<table class="table" style="display: inline-block; float: right; font-size: 14px; width:70%">
					<tr>
						<th>Number</th>
						<th>Name</th>
						<th>Code</th>
						<th>Category</th>
						<th>Price</th>
					</tr>
					<tr ng-repeat="element in invoice.invoiceItems">
						<td>{{element.invoiceItemNumber}}</td>
						<td>{{element.item.name}}</td>
						<td>{{element.item.code}}</td>
						<td>{{element.item.category.name}}</td>
						<td>{{element.item.price}} €</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
</div>