<!------------------------ PROFILE INFORMATION SECTION ------------------------>
<div class="infoDiv">
	<h3 style="text-align: center">User info</h3>
	<br>
	<table class="table">
		<tr>
			<td><b>Name:</b></td>
			<td>Smith</td>
		</tr>
		<tr>
			<td><b>Surname:</b></td>
			<td>Jackson</td>
		</tr>
		<tr>
			<td><b>Role:</b></td>
			<td>Shopper</td>
		</tr>
		<tr>
			<td><b>Reg Date:</b></td>
			<td>19.09.2017.</td>
		</tr>
		<tr>
			<td><b>Address:</b></td>
			<td>Balzakova 7</td>
		</tr>
		<tr>
			<td><b>Points:</b></td>
			<td>10000</td>
		</tr>
		<tr>
			<td><b>Category:</b></td>
			<td>Golden</td>
		</tr>
	</table>
</div>

<!------------------------ SHOPPING HISTORY SECTION ------------------------>
<div class="shoppingsDiv">
	<h2 style="text-align: center">Shopping history</h2>
	<br>

	<div class="row" align="center">
		<div class="col-sm-4">
			<div class="itemDiv">
				<div class="descriptionDiv">
					<p>
						<b style="color: orange"> Shopping number 1 </b> <br> <b>Code:</b>
						1CEF <br> <b>Category:</b> Snacks <br> <b>Price:</b>
						1.99 EUR <br> <b>Discount:</b> 10%
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="itemDiv">
				<div class="descriptionDiv">
					<p>
						<b style="color: orange"> Shopping number 2 </b> <br> <b>Code:</b>
						1CEF <br> <b>Category:</b> Snacks <br> <b>Price:</b>
						1.99 EUR <br> <b>Discount:</b> 10%
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="itemDiv">
				<div class="descriptionDiv">
					<p>
						<b style="color: orange"> Shopping number 3 </b> <br> <b>Code:</b>
						1CEF <br> <b>Category:</b> Snacks <br> <b>Price:</b>
						1.99 EUR <br> <b>Discount:</b> 10% <br> <b
							style="color: orange"> Shopping number 1 </b> <br> <b>Code:</b>
						1CEF <br> <b>Category:</b> Snacks <br> <b>Price:</b>
						1.99 EUR <br> <b>Discount:</b> 10%
					</p>
				</div>
			</div>
		</div>
	</div>
</div>