<meta charset="UTF-8">
<div class="mainDiv">
	<h2 style="text-align: center">
		<b>Shopping Cart</b>
	</h2>
	<br>

	<!---------------------- INVOICE ITEM LIST SECTION ---------------------->
	<div class="invoiceItemDiv" ng-repeat="element in shoppingCart">
		<div class="row">
			<div class="col-sm-3">
				<img src="../img/2.jpg" style="border-radius: 15px; padding-left: 10%">
			</div>
			<div class="col-sm-3" style="padding-top: 20px">
				<b style="color: orange; font-size: 20px"> {{element.item.name}} </b> <br>
				<b>Code:</b> {{element.item.code}} <br>
				<b>Category:</b> {{element.item.category.name}} <br>
				<!-- <b>Points:</b> 10 <br> -->
				<b>Quantity:</b> {{element.numberOfItems}} <br>
				<b>Price:</b> {{element.item.price}} $
			</div>
			<div class="col-sm-3" style="padding-top: 8%">
				<button type="submit" class="btn btn-default" ng-click="removeFromCart(element)">
					<b>Remove from cart</b> &nbsp;
					<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
				</button>
			</div>
			<div class="col-sm-3" style="text-align: center; padding-top: 5%">
				{{element.numberOfItems}} x {{element.item.price}} $
				<hr style="border-top: 1px solid gray; width: 50%">
				<b>Total:</b> {{element.numberOfItems * element.item.price}} $ <br>
			</div>
		</div>
		<br>
	</div>

	<!---------------------- INVOICE TOTAL SECTION ---------------------->
	<div class="totalDiv">
		<b>Subtotal:</b> 200 $ <br> <b>Discount:</b> 20 % <br>
		<hr style="border-top: 3px solid gray">
		<b>Total:</b> 180 $ <br>
	</div>
</div>