<meta charset="UTF-8">

<!---------------------- INVOICE ITEM LIST SECTION ---------------------->
<div class="mainDiv" style="float: left; width: 60%; display: inline-block; margin-left: 5%; margin-right: 5%">
	<h2 style="text-align: center">
		<b>Shopping Cart</b>
	</h2>
	<br>
	
	<h3 ng-if="cartCtrl.shoppingCart[0] == null" style="text-align: center">
		Shopping Cart is currently empty.
	</h3>

	<div class="invoiceItemDiv" ng-repeat="element in cartCtrl.shoppingCart">
		<div class="row">
			<div class="col-sm-3">
				<img src="../img/2.jpg" style="border-radius: 15px; padding-left: 10%">
			</div>
			<div class="col-sm-3" style="padding-top: 20px">
				<b style="color: orange; font-size: 20px"> {{element.item.name}} </b> <br>
				<b>Code:</b> {{element.item.code}} <br>
				<b>Category:</b> {{element.item.category.name}} <br>
				<!-- <b>Points:</b> 10 <br> -->
				<b>Quantity:</b> {{element.numberOfItems}} <br>
				<b>Price:</b> {{element.item.price}} $
			</div>
			<div class="col-sm-3" style="padding-top: 8%">
				<button type="submit" class="btn btn-default" ng-click="cartCtrl.removeFromCart(element)">
					<b>Remove from cart</b> &nbsp;
					<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
				</button>
			</div>
			<div class="col-sm-3" style="text-align: center; padding-top: 5%">
				{{element.numberOfItems}} x {{element.item.price}} $
				<hr style="border-top: 1px solid gray; width: 50%">
				<b>Total:</b> {{element.numberOfItems * element.item.price}} $ <br>
			</div>
		</div>
		<br>
	</div>
</div>

<!---------------------- INVOICE TOTAL SECTION ---------------------->
<div class="totalDiv" style="text-align: center">
	<div>
		<b>Subtotal:</b> {{cartCtrl.subtotal}} $ <br>
		<b>Discount:</b> 0 % <br>
		<hr style="border-top: 3px solid gray">
		<b>Total:</b> {{cartCtrl.subtotal}} $
	</div>
	
	<br><br>
	
	<a ng-href="/#!/checkoutCounter" style="text-decoration: none; color: black">
		<button class="btn btn-default" ng-if="cartCtrl.shoppingCart[0] != null">
			<b>Proceed to Pay</b> &nbsp;
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		</button>
	</a>
	<br>
</div>