<div class="mainDiv">
	<h2 style="text-align: center">
		<b>Shopping Cart</b>
	</h2>
	<br>

	<!---------------------- INVOICE ITEM LIST SECTION ---------------------->
	<div class="invoiceItemDiv">
		<div class="row">
			<div class="col-sm-3">
				<img src="../img/2.jpg" style="border-radius: 15px; padding-left: 10%">
			</div>
			<div class="col-sm-3" style="padding-top: 20px">
				<b style="color: orange; font-size: 20px"> Chips </b> <br>
				<b>Code:</b> 1CEF <br>
				<b>Category:</b> Snacks <br>
				<b>Points:</b> 10 <br>
				<b>Quantity:</b> 3 <br>
				<b>Price:</b> 1.99 $
			</div>
			<div class="col-sm-3" style="padding-top: 8%">
				<button type="submit" class="btn btn-default">
					<b>Remove from cart</b> &nbsp;
					<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
				</button>
			</div>
			<div class="col-sm-3" style="text-align: center; padding-top: 5%">
				3 x 1.99 $
				<hr style="border-top: 1px solid gray; width: 50%">
				<b>Total:</b> 6 $ <br>
			</div>
		</div>
	</div>

	<div class="invoiceItemDiv">
		<div class="row">
			<div class="col-sm-3">
				<img src="../img/2.jpg"
					style="border-radius: 15px; padding-left: 10%">
			</div>
			<div class="col-sm-3" style="padding-top: 20px">
				<b style="color: orange; font-size: 20px"> Chips </b> <br> <b>Code:</b>
				1CEF <br> <b>Category:</b> Snacks <br> <b>Points:</b> 10 <br>
				<b>Quantity:</b> 3 <br> <b>Price:</b> 1.99 $
			</div>
			<div class="col-sm-3" style="padding-top: 8%">
				<button type="submit" class="btn btn-default">
					<b>Remove from cart</b> &nbsp; <span
						class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
				</button>
			</div>
			<div class="col-sm-3" style="text-align: center; padding-top: 5%">
				3 x 1.99 $
				<hr style="border-top: 1px solid gray; width: 50%">
				<b>Total:</b> 6 $ <br>
			</div>
		</div>
	</div>

	<!---------------------- INVOICE TOTAL SECTION ---------------------->
	<div class="totalDiv">
		<b>Subtotal:</b> 200 $ <br> <b>Discount:</b> 20 % <br>
		<hr style="border-top: 3px solid gray">
		<b>Total:</b> 180 $ <br>
	</div>
</div>