<div class="signUpDiv">

	<div class="alert alert-danger" id="regAlert" style="text-align: center">
		<strong>Email already exists!</strong>
	</div>
	
	<h3 style="text-align: center">Sign up!</h3>
	<br>
	<form>
		<div class="row">
			<div class="col-sm-3">
				<b>Email <span style="color: red">*</span></b>
			</div>
			<div class="col-sm-8">
				<input class="form-control" type="email" required style="margin-left: 20px"
				ng-model="loginCtrl.regUser.email" autofocus="autofocus">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-3">
				<b>Password <span style="color: red">*</span></b>
			</div>
			<div class="col-sm-8">
				<input class="form-control" type="password" required style="margin-left: 20px"
				ng-model="loginCtrl.regUser.password">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-3">
				<b>Name <span style="color: red">*</span></b>
			</div>
			<div class="col-sm-8">
				<input class="form-control" type="text" required style="margin-left: 20px"
				ng-model="loginCtrl.regUser.name">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-3">
				<b>Surname <span style="color: red">*</span></b>
			</div>
			<div class="col-sm-8">
				<input class="form-control" type="text" required style="margin-left: 20px"
				ng-model="loginCtrl.regUser.surname">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-3">
				<b>Address <span style="color: red">*</span></b>
			</div>
			<div class="col-sm-8">
				<input class="form-control" type="text" required style="margin-left: 20px"
				ng-model="loginCtrl.regUser.usersProfile.address">
			</div>
		</div>
		<br>
		<input type="submit" class="btn btn-warning" style="width: 60%; margin-left: 20%;"
		value="Sign up" ng-click="loginCtrl.register()">
	</form>
</div>